/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #c9c9c9;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Encabezado */
h1 {
    
    text-align: center;
    background-color: pink;
    color: #ffffff;
    padding: 20px;
    margin: 0;
}

/* Formulario */
form {
    max-width:500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255); /* Fondo blanco semi-transparente */
    border-radius: 5px;
    color: #ff4fb6;
}

/* Campos del formulario */
form input[type="text"],
form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border:none ;
    /* border-color: black; */
    background-color: rgba(88, 63, 63, 0.2); /* Fondo blanco semi-transparente */
    color: #000000;
    border-radius: 3px;
}

/* Botón del formulario */
form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff4fb6; /* Botón naranja */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Enlace para volver a la lista de usuarios */
a {
    display: block;
    text-align: center;
    color: pink; /* Color naranja */
    text-decoration: none;
    margin-top: 10px;
}

/* Estilo para el enlace al pasar el mouse */
a:hover {
    text-decoration: underline;
}
